@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body
{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;

}
#submit, button
{
    background-color: #f1c40f;
    font-weight: bolder;
    min-width: 100px;
}
#header
{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #eee;
    justify-content: space-between;
    padding: 2vh;
}
#header #nav-bar
{
    list-style: none;
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
}
#header #nav-bar a
{
    text-decoration: none;
}
#header #nav-bar a:link
{
	color: black;
}
#header #nav-bar a:visited
{
    color: black;
}
#header #nav-bar a:hover
{
    color: orange;
}
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: left;
}

main #summary
{
    text-align: center;
}
main form
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
main form input
{
    margin: 10px auto;
}
main #works iframe
{
    margin: 0px auto;
    width: 40vw;
    height: 40vh;
}
main #features
{
    max-width: 80%;
    margin-left: 20%;
    margin-bottom: 10%;
}
main #features .details, main #features p
{
    margin: 15px 0;
}
main #price
{
    margin: 0 auto;    
    display: flex;
    max-width: 70%;
    text-align: center;
}
main #price #item
{
    height: 15em;
    margin: 20px 3%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}
main #price #item h4
{
    height: 20%;
    padding-top: 0.5em;
    background-color: #ddd;
}
main #price #item p
{
    flex-basis: 30%;
    //border: 3px solid black;
}
main #price #item button
{
    width: 50%;
    height: 10%;
    margin: 5% auto;
    //border: 3px solid black;
}
footer
{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}
footer ul
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
footer ul li
{
    margin: 3vh 2vw 1vh;
    cursor: pointer;
}
footer p
{
    text-align: right;
    margin: 0vh 2vw 2vh;
    font-weight: lighter;
    font-size: small;
}

@media screen and (max-width: 600px)
{
    header
    {
        flex-direction: column;
    }
    img
    {
        margin: 0px auto;
    }
    header #nav-bar
    {
        flex-direction: column;
    }
    header #nav-bar .nav-link
    {
        margin: 0 auto;
    }
    main #works iframe
    {
        width: 60vw;
        height: 50vh;
    }
    main #features
    {
        margin: 0;
        text-align: center;
    }
    main #price
    {
        flex-direction: column;
    }
    main #price #item
    {
        width: 90%;
    }
}